@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/menu.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Heebo', Arial, sans-serif;
}

.app_container{
    background-color:  rgb(156, 12, 161);
    height: 100%;
}

section{
    background-color: rgb(255, 255, 255);
    height: 100%;
    border: 1px solid black;
}

/* Sectiunea Hero */

.hero{
    background-image: linear-gradient(to left, rgb(156, 12, 161), #39065a);
}

.navigation_bar{
    display: flex;
    gap: 2.5rem;
    margin: 1rem 11rem;
}

.navigation_bar_button{
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #fff;
    font-size: 1rem;
}

.icon_B{
    height: 7%;
    position: absolute;
    top: 0.5rem;
    right: 2rem;
}

.principal_picture_hero{
    width: 30%;
    margin: 0 8rem;
    transition: transform 0.3s ease;
}

.principal_picture_hero:hover{
    transform: scale(1.1);
}

.title_hero{
    position: absolute;
    top: 13rem;
    right: 10rem;
    color: #fff;
    font-size: 3.3vw;
    font-weight: 380;
    line-height: 1.1;
}

.title_hero_row2{
    display: block;
}

.wapp_icon{
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    border: 5px solid white;
    padding: 2rem;
    border-radius: 50%;
    background-color: rgb(24, 176, 16);
    transition: transform 0.3s ease;
}

.wapp_icon:hover{
    transform: scale(1.1);
}

.course_detail_button_hero{
    position: relative;
    border: 1px solid #fff;
    padding: 0.5rem 1.5rem;
    border-radius: 20px;
    background-color: transparent;
    color: #fff;
    opacity: 0.5;
    font-size: 1rem;
    bottom: 8rem;
    left: 9rem;
    
}

.course_detail_button_hero:hover{
    background-color: #ae1772;
    color: #fff;
    opacity: 1;
    cursor: pointer;
}



.study{
    height: 50%;
}

.title_study{
    color: rgb(232, 17, 232);
    font-weight: 37.5rem;
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
}

hr{
    width: 7%;
    margin: 1.5rem auto;
    margin-bottom: 0.5rem;
}


.study_title_design p{
    display: flex;
    justify-content: center;
}

.study_content{
    display: flex;
    margin-top: 2%;
    margin-left: 5%;
}

.study_content img{
    width: 26%;
    margin-left: 15%;
}

.study_content img:hover{
    transform: rotatex(360deg);
    transition: transform 0.5s;
}

.study_content h3{
    color: rgb(232, 17, 232);
    margin-left: 15%;
}

.study_content p{
    width: 75%;
    margin-left: 3%;
}



.robots{
    height: 50%;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #39065a);
}

.robots img{
    border-radius: 2%;
    width: 23%;
    margin-top: 1rem;     
}

.robots_images{
    display: flex;
    justify-content: space-around;
}

.robots img:hover{
    transform: scale(1.1);
}





@media only screen and (max-width: 947px) {

    .title_hero{
        
    }

    .course_detail_button_hero{
        bottom: 2rem;
        left: -6.5rem;
    }

    .wapp_icon{
        padding: 1.5rem;
        top: 32.5rem;
    }
}

@media only screen and (max-width: 481px) {
    .icon_B{
       display: none;
    }

    .principal_picture_hero{
        display: none;
    }

    .title_hero{
        font-size: 6vw;
        text-align: left;
        left: 3.5rem;
        top: -1rem;
    }

    span{
        display: block;
    }

    .hero2 {
        top: 8rem;
        position: relative;
    }

    .course_detail_button_hero{
        display: block;
        left: 7rem;
        top: 10rem;
        margin: 0.5rem;
    }

    .navigation_bar{
        flex-direction: column;
        gap: 0.1rem;
        position: relative;
        top: 4rem;
        right: 1.5rem;
    }

    .navigation_bar_button{
        font-size: 1.2rem;
    }

    .underline_responsiveness{
        border-bottom: 1px solid #fff;
        width: 10.5rem;
    }

    .wapp_icon{
        padding: 1.5rem;
        top: 32.5rem;
    }

    .gg-menu{
        color: white;
        position: absolute;
        top: 1.5rem;
        right: 0;
        margin-right: 1rem;
    }
    
}

@media only screen and (min-width: 481px) {
    .gg-menu{
        display: none;
    }
}